<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.8/medium-zoom.min.js"></script>
	
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" type="image/x-icon" href="/www/favicon.ico">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
	<style type="text/css">
		.medium-zoom-overlay{position:fixed;top:0;right:0;bottom:0;left:0;opacity:0;transition:opacity .3s;will-change:opacity}.medium-zoom--opened .medium-zoom-overlay{cursor:pointer;cursor:zoom-out;opacity:1}.medium-zoom-image{cursor:pointer;cursor:zoom-in;transition:transform .3s cubic-bezier(.2,0,.2,1)}.medium-zoom-image--hidden{visibility:hidden}.medium-zoom-image--opened{position:relative;cursor:pointer;cursor:zoom-out;will-change:transform}
	</style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img alt="Developer Bastian" width="130px" src="/www/assets/images/dev.bastian.small.png" class="medium-zoom-image" />
		<h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
		<span>Tutorials</span>
		<ul>
			{% if site.show_install %}<li><a href="/www/install.html">Installation</a></li>{% endif %}
			{% if site.show_emptymap %}<li><a href="/www/empty_map.html">Create an empty map</a></li>{% endif %}
			{% if site.show_appearance %}<li><a href="/www/appearances.html">Change Skins</a></li>{% endif %}
			{% if site.show_menu %}<li><a href="/www/menus.html">Game Menus</a></li>{% endif %}
			<li><a href="/www/abilities.html">Abilities</a></li>
		</ul>
		<span>Links</span>
		<ul>
			{% if site.show_home %}<li><a href="/www/index.html">Home</a></li>{% endif %}
			{% if site.show_aboutme %}<li><a href="/www/aboutme.html">About</a></li>{% endif %}
		</ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <div class="container">
			<p class="center">
				<a href="https://www.youtube.com/@bastiandev/featured"><img alt="Bastian Dev on Youtube" width="80px" src="/www/assets/images/yt_logo_rgb_light.png" /></a>
				<br />&nbsp;<br />
				<a href="https://github.com/DeveloperBastian"><img alt="Bastian Dev on Github" width="80px" src="/www/assets/images/GitHub_Logo.png" /></a>
				<br />&nbsp;<br />
				<a href="https://dev.epicgames.com/community/profile/KQB6B/BastianDev"><img alt="Bastian Dev on Unreal Forum" width="80px" src="/www/assets/images/UE_Logo.png" /></a>
				<br />&nbsp;<br />
				<a href="https://twitter.com/BastianDevelop"><img alt="Bastian Dev on Twitter" width="60px" src="/www/assets/images/twitter.svg" /></a>
				<br />&nbsp;<br />
				<span class="copyrightfont">BastianDev &copy; <script>document.write(new Date().getFullYear())</script></span>
			</p>
		</div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
